- site = site || {}
- title = site.title || '30일 프로젝트'
- description = site.description || "휴가 기간 동안 진행한 개인 프로젝트 데모 사이트"
doctype html
html
  head(prefix="og: http://ogp.me/ns#")
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= title
    meta(property="og:title" content="#{title}")
    meta(property="og:type" content="website")
    meta(property="og:url" content="http://holiday-project.hatemogi.com")
    meta(property="og:description" content="#{description}")
    //- meta(property="og:image" content="")

    meta(property="twitter:title" content="#{title}")
    meta(property="twitter:description" content="#{description}")

    link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet' href='/stylesheets/jumbotron-narrow.css')
    link(rel='stylesheet' href='/stylesheets/style.css')
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
  body
    .container
      .header
        ul.nav.nav-pills.pull-right
          li
            a(href="/") 홈
          li
            a(href="http://hatemogi.com") 블로그
        h3.text-muted 30일 프로젝트
      block content
    include ga
    include github_badge
